<div class="content" role="main">
  <h1>MParticle Capacitor Demo</h1>

  <h2>Configuration</h2>
  
  <div class="col-12">
    <label for="key">Api Key:</label>
    <input class="form-control col-12" type="text" [(ngModel)]="key">
  </div>

  <div class="col-12">
    <label for="planID">Plan ID:</label>
    <input class="form-control" type="text" [(ngModel)]="planID">
  </div>

  <div class="col-12">
    <label for="planVersion">Plan Version:</label>
    <input class="form-control" type="number" [(ngModel)]="planVersion">
  </div>
<br>
  <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <input class="btn-check" type="checkbox" [(ngModel)]="planVersionRequired">
    <label class="btn btn-outline-primary" for="btncheck1" autocomplete="off">Default Plan Version</label>
  </div>

  <h2>Trigger event:</h2>

  <div class="card-container">
    <button class="card card-small" (click)="sendEvent('init')">
      <span>Init</span>
    </button>
    <button class="card card-small" (click)="sendEvent('login')">
      <span>Login</span>
    </button>
    <button class="card card-small" (click)="sendEvent('logout')">
      <span>Logout</span>
    </button>
    <button class="card card-small" (click)="sendEvent('pageView')">
      <span>PageView</span>
    </button>
    <button class="card card-small" (click)="sendEvent('purchase')">
      <span>Purchase</span>
    </button>
  </div>
</div>
